// app global css in SASS form

@import 'themes/blocks.sass'
@import 'themes/flexbox.sass'
@import 'themes/fonts.sass'
@import 'themes/icons.sass'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:light,regular,medium,semibold,thin,italic,mediumitalic,bold')

body
  background-color: $background-color
  font-family: Open Sans, Arial, sans-serif
  font-size: 14px
  letter-spacing: normal
  font-weight: normal

.main-container
  min-width: 700px
  padding: 16px 32px 60px 32px

.large-container
  min-width: 900px

.form-container 
  min-width: 300px

.card-container
  min-width: 300px
  padding: 20px
  border-radius: 8px
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.05)
